/* width */
::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(235, 235, 235);
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(192, 192, 192);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(156, 156, 156);
  border-radius: 4px;
}
